@page
@model NQVinh_Assignment03.Pages.UpdateModel
<!DOCTYPE html>
<html>
<head>
    <title>Update Profile</title>
</head>
<body>
    <h1>Update Profile</h1>
    <form method="post">
        <div>
            <label for="FullName">Full Name:</label>

        </div>
        <div>
            <label for="Email">Email:</label>

        </div>
        <button type="submit">Update</button>
    </form>
</body>
</html>
