@page
@functions {
    [BindProperty]
    public string Name { get; set; }
  
}

@{
    Name = "...";
}
<div style="margin-top:30px;">
    <form method="post">
        <div>Name: <input name="name"/></div>
        <div><input type="submit"/>@Name</div>
    </form>
    @{
        for(int i = 0; i < 10; i++)
        {
            <p>@i</p>
        }
    }
    @if(!string.IsNullOrEmpty(Name))
    {
    <p>Hello @Name!</p>
    }
</div>
