@page
@model NQVinh_Assignment03.Pages.Requirement1.SignUpModel
@{
    ViewData["Title"] = "Sign Up";
}

<h1>Sign Up</h1>

<form method="post">

    <div>
        <label for="Username">Username:</label>
        <input type="text" id="Username" name="Username" required />
    </div>
    <div>
        <label for="Password">Password:</label>
        <input type="password" id="Password" name="Password" required />
    </div>
    <div>
        <label for="FullName">Full Name:</label>
        <input type="text" id="FullName" name="FullName" />
    </div>
    <div>
        <label for="Email">Email:</label>
        <input type="email" id="Email" name="Email" required />
    </div>
    <div>
        <label for="Role">Role:</label>
        <select id="Role" name="Role" required>
            <option value="Admin">Admin</option>
            <option value="Client">Client</option>
        </select>
    </div>
    <button type="submit">Sign Up</button>
</form>
