@page
@model NQVinh_Assignment03.Pages.Requirement1.SuccessModel
@using Microsoft.AspNetCore.Http
@using System.Text 

@{

}

<h1>Registration Success</h1>

<p>Your registration for the event has been successful!</p>

<h2>Event Details</h2>

<p><strong>Title:</strong> @Model.Event.Title</p>
<p><strong>Start Time:</strong> @Model.Event.StartTime</p>
<p><strong>Description:</strong> @Model.Event.Description</p>
<p><strong>Location:</strong> @Model.Event.Location</p>

<h2>User Details</h2>

