@page
@model Ha.Pages.EventCountModel
@{
}

@{
    ViewData["Title"] = "Event and Attendee Counts";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h2>Total Events: @Model.TotalEvents</h2>
</div>

<div>
    <h2>Total Attendees: @Model.TotalAttendees</h2>
</div>